* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

:root {
  --main-red: #f5576c;
  --main-green: #40b49d;
}

main {
  min-height: 100vh !important;
  background-color: var(--main-red);
}

.navbar-brand {
  font-size: 1rem;
}

.input {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}

.icon {
  width: 15%;
  height: 50px;
  background-color: white;
}

.qr-container {
  background-color: white;
}

.description-text {
  color: white;
  font-size: 1.5rem;
}

.text {
  color: white;
}

.btn {
  background-color: var(--main-green);
}

.btn:hover {
  background-color: black !important;
}
